*{
  margin:0;
  padding: 0;
  
}
body{
  margin:5%;
  padding-left: auto;
  padding-right:auto;
  height: 100%;
  background-color: black;
}
.all{
  padding-left: auto;
  padding-right: auto;
  height: 100%vh;
  width: 100%vw;
  background-image:transparent;
  border: 10px solid red;
}
.tree{
  width: 100%;
  height: 15%;
  
}
.for{
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}
.one{
  width: 100%;
  height: 50%;
  background-color:red;
}
.img-one{
  height: 400px;
  width:99%;
  border: 4px solid gold;
  
}

.login{text-align: center;
  color: red;
  background-color:blue;
  font-size: 75px;
  font-style: bold;
  padding-left: 10px;
  padding-top: 30px;
}

.img-two{
  border-radius: 20px;
  display: block;
  height: 350px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
}
.mice{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
